<footer class="app-footer">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md col-lg-6 order-md-12 ">

                <ul class="sec1">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Faqs</a></li>
                </ul>


            </div>
            <div class="col-md col-lg-6 sec2">

                <div class="logo-container">
                    <div id="logo"> poop</div>

                    <p id="copy-right">
                        Copyright 2018 Interbibler LLC
                        All rights reserved.
                    </p>

                    <div id="icons">
                        <div class="row">
                            <div class="col"><i class="fa fa-globe"></i></div>
                            <div class="col"><i class="fa fa-globe"></i></div>
                            <div class="col"><i class="fa fa-globe"></i></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>