<div id="app-pag-sm">
    <h3>Page 2</h3>
    <div>
        <button class="app-btn app-btn-secondary">Previous</button>
        <button class="app-btn app-btn-primary">Next</button>
    </div>
</div>


<div id="app-pag-lg">

    <div>

        <button class="app-btn app-btn-md app-btn-secondary">Previous</button>
        <button class="app-btn app-btn-sm app-btn-secondary">1</button>
        <button class="app-btn app-btn-sm app-btn-secondary">2</button>
        <button class="app-btn app-btn-sm app-btn-secondary">3</button>
        <button class="app-btn app-btn-sm app-btn-secondary">...</button>
        <button class="app-btn app-btn-sm app-btn-secondary">12</button>
        <button class="app-btn app-btn-md app-btn-primary">Next</button>

    </div>
</div>