.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .6em 0;
}

.actions i {
  color: #7F7F7F;
  font-size: 1.7em;
  text-align: center;
  cursor: pointer;
}

.actions i:nth-child(1) {
  margin-right: 1em;
}

.actions i:nth-child(2) {
  margin-left: 1em;
}

@media only screen and (min-width: 992px) {
  .actions i {
    font-size: 1.3em;
  }

  .actions  {
    font-size: 1.3em;
    margin: 0;
  }


}