<div class="app-block-container">
    <h1>Some Long Question</h1>
    <hr>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A consectetur voluptatem laudantium error recusandae,
        dolor ab facilis quas corrupti esse totam numquam dicta eaque ratione, blanditiis dolorem est repellendus atque!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatum quo enim, fugit assumenda alias
        officia possimus debitis eaque! Architecto deserunt, nesciunt sapiente dolores mollitia itaque impedit
        perferendis velit id officia ullam veritatis sunt et atque harum omnis, ratione quaerat odit. Incidunt
        perspiciatis amet iure laborum dolores modi quasi id.
    </p>
</div>