nav {
    background-color: #44ACA3;
}

#app-nav-container {
    padding: 0 1em;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1em;
}

#app-navbar-container {
    padding: 1em 2em;
}

#app-navbar-container #sm {
    display: grid;
    grid-template-rows: 2;
    grid-row-gap: 1em;
    width: 100%
}

#app-navbar-container #md {
    display: none;
    width: 100%
}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-left-md {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    /* border: 1px solid red; */
    padding-left: 2.5em;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#logo {
    height: auto;
    width: 46px;
    min-height: 28px;
    cursor: pointer;
}

#title {
    font-size: 52;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}

#avatar {}

#search-toggler {}

#signIn {
    color: white;
    cursor: pointer;
}

#app-search-bar {
    border: none;
    background-color: transparent;
    border-radius: 0;
}

#app-search-bar::after {
    border: none;
}

#app-search-bar::placeholder {
    color: white;
    margin-left: 80px;
}

#app-search-bar-container {
    display: block;
    color: white;
    position: relative;
    border-bottom: 1px solid white;
    margin: 0 auto;
}

#app-search-bar-container>input {
    margin-left: 15px;
}

#app-search-bar-container i {
    position: absolute;
    top: 25%
}

#avatar-lg {
    display: none;
}

#avatar-sm {
    display: block;
}

.app-search {
    color: white;
    border: none;
}

#app-nav-container {
    padding: 1em;
}

#app-dropdown-search {
    padding: .8em 4em;
}

@media only screen and (min-width: 992px) {
    .app-nav-expand {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }
    #app-nav-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #app-navbar-container #sm {
        display: none;
    }
    #app-navbar-container #md {
        display: block;
    }
    #signIn {
        font-size: 1.3em;
    }
    #logo {
        height: auto;
        width: 56px;
        min-height: 38px;
    }
    #app-search-container h2 {
        margin-top: .3em;
    }
    #app-search-bar-container {
        margin-right: 6.7em;
    }
    #avatar-lg {
        display: block;
    }
    #avatar-sm {
        display: none;
    }
}