<nav class="app-navbar">

  <div id="app-navbar-container">

    <div id="sm">

      <div class="row ">
        <div class="col-6">

          <div class="nav-left">
            <img (click)="onToHome()" routerLinkActive="router-link-active"  id="logo" src="../../../../assets/images/logo-primary.PNG" alt="interbibler">
          </div>

        </div>


        <div class="col-6 ">
          <div class="nav-right">
              <app-avatar *ngIf="isAuth; else signIn" id="avatar"></app-avatar>
          </div>

        </div>
      </div>

      <div class="row">

        <div class="col-6 ">
          <div class="nav-left">
            <h2 id="title">FAQs</h2>
          </div>
        </div>

        <div class=" col-6">

          <div class="nav-right">
            <button id="search-toggler" (click)="isCollapsed = !isCollapsed" type="button" class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed">
              <i class="fa fa-search app-search"></i>
            </button>

            <!-- <input id="app-search-bar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
          </div>
        </div>
      </div>
    </div>

    <div id="md">
      <div class="row">

        <div class="col-2">
          
          <img (click)="onToHome()" id="logo" src="../../../../assets/images/logo-primary.PNG" alt="interbibler">
       
        </div>


        <div class="col-10" >

          <div class="nav-left-md">


            <h2 id="title">FAQs</h2>

            <div id="app-search-bar-container">
              <i class="fa fa-search"></i>
              <input id="app-search-bar" class="form-control mr-sm-2" type="search" placeholder="Search"
                aria-label="Search">
            </div>

            <app-avatar *ngIf="isAuth; else signIn" id="avatar"></app-avatar>
          </div>
        </div>

      </div>
    </div>
  </div>





  <div id="app-dropdown-search" [ngbCollapse]="isCollapsed">

    <div id="app-search-bar-container">
      <i class="fa fa-search"></i>
      <input id="app-search-bar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>

  </div>
</nav>

<ng-template #signIn>
  <h4 id="signIn">Sign In</h4>
</ng-template>