/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Nunito', sans-serif;
}

p {
        font-weight: 400;
        color: #707070
}

hr {
    border-top: 15px;
    box-shadow: #707070;
    border-radius: 5px;
}

body {
   
   
    padding: 0;
    margin: 0;
    background-color: red
   
}

:root {
    --app-primary: #44ACA3;
    --app-btn-lg: 120px;
}

button.app-btn {
    display: block;
    margin: .5em;
    padding: .4em;
    width: 200px;
    font-size: 1.2em;
    font-weight: 600;
}

button.app-btn-secondary {
    background-color: white;
    color: var(--app-primary);
    border: 1px solid var(--app-primary);
}

button.app-btn-dark {
    background-color: #929292;
    color: white;
    border: 0;
    /* border: 1px solid var(#2B2B2B); */
}

button.app-btn-primary {
    background-color: var(--app-primary);
    color: white;
}

button.app-btn-sm {
    width: 50px;
}

button.app-btn-md {
    width: 90px;
}

button.app-btn-lg {
    width: var(--app-btn-lg, 120px) ;
}

.app-form-control {
    margin: 1em 0;
    background-color: #EBEBEB
}

input.app-form-control:focus {
    background-color: #EBEBEB
}

textarea.app-form-control:focus {
    background-color: #EBEBEB
}

