<footer class="app-footer">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md col-lg-6 order-md-12 ">

                <ul class="sec1">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Faqs</a></li>
                </ul>


            </div>
            <div class="col-md col-lg-6 sec2">

                <div class="logo-container">
                    <div id="logo"> 
                        <img src="../.././../../assets/images/logo-black.PNG" alt="">
                    </div>

                    <p id="copy-right">
                        Copyright 2018 Interbibler LLC
                        All rights reserved.
                    </p>

                    <div id="icons">
                        <div>
                            
                                <a href="https://www.facebook.com/InterBibler" class="fa fa-facebook-square" ></a>
                                <a href="https://twitter.com/InterBibler" class="fa fa-twitter-square"></a>
                                <a href="https://www.instagram.com/interbibler" class="fa fa-instagram"></a>
                                <a href="https://www.linkedin.com/company/interbibler" class="fa fa-linkedin"></a>
                                <a href="https://www.pinterest.com/interbibler/" class="fa fa-pinterest"></a>
                           
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>